{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content">
        <div class="row">
            <div class="col-md-2">
                <h2>List</h2>
                {% for category in categories %}
                    <div class="col-md-10">
                        <ul>
                            <li>
                                <a href="{{ path('category_articles', {'id': category.id}) }}">
                                    {{ category.name }} ({{ category.articles.count }})</a>
                            </li>
                        </ul>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-10">
                <div class="col-md-10">
                    <h1>Pinned article</h1>
                </div>
                    <div class="col-md-10">
                        <table>
                            <tr>
                                <td>
                                    <a href="https://softuni.bg"><img src="{{ asset('images/test-image.png') }}" alt="Test image"  /></a>
                                </td>
                                <td>
                                    <img src="{{ asset('images/test-image.png') }}" alt="Test image" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="{{ asset('images/test-image.png') }}" alt="Test image" />
                                </td>
                                <td>
                                    <img src="{{ asset('images/test-image.png') }}" alt="Test image" />
                                </td>
                            </tr>
                        </table>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}