{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content">
        <div class="row">
            <h4>Вие се намирате в категория: <strong>{{ category.name }}</strong></h4>
            {% for article in articles %}
                <div class="col-md-6">
                    <article>
                        <header>
                            <h2>{{ article.title }}</h2>
                        </header>

                        <p>
                            {{ article.summary }}
                        </p>

                        <p>
                            {% for tag in article.tags %}
                                <a class="btn btn-default btn-xs"
                                   href="{{ path('articles_with_tag', {'name': tag.name}) }}">{{ tag.name }}</a>
                            {% endfor %}
                        </p>

                        <small class="author">
                            {{ article.author }}
                        </small>

                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-default btn-xs"
                                   href="{{ path('article_view', {'id': article.id}) }}">Прочети още &raquo;</a>
                            </div>
                        </footer>
                    </article>
                </div>
            {% endfor %}
        </div>
        <div class="p-3">
            <h3>Любопитно</h3>
            <iframe src="http://obikolisveta.net/ImageRotator/ImageRotator.php" frameborder="0" marginwidth="0" marginheight="0" style="border: 5px; overflow:auto; width:50%; height:80px;"></iframe>
        </div>
    </div>
{% endblock %}